This notebook has the working of #Python pop quiz from Mike Driscoll twitter page

In [1]:
# 20 Nov 2024
languages = ['Java','C++','Python','Javascript','Julia','Rust']
for lang in languages:
    languages.remove(lang)

print(languages)

['C++', 'Javascript', 'Rust']

#### explanation:
    for the first iteration 0-Java is removed which places C++ the index 0 
    for the second iteration 1-Python is removed which places Javascipt in index 1
    for the third iteration 2-Julia is removed which places Rust in index 2
    hence the output: ['C++', 'Javascript', 'Rust']

In [8]:
# 19 Nov 2024
pybool = False
"Python" * pybool

''

#### explanation 
    the multiplication operation of the string with True return the same string 
    eg: True * "Python" returns "Python"
    while mulplication with False return an empty string 
    eg: False * "Python" returns ""

In [13]:
# 18 Nov 2024
print(r"\"")

\"

#### explanation 
    python raw string considers the escape sequence like a regular character and print out the string as it is 
    eg: print(r"\") will return \
        pring(r"\"") will return \"

In [4]:
# 21 Nov 2024
"Mike" in "Mike" in "Mike"

True

#### explanation
    python splits "Mike" in "Mike" in "Mike" into two seperate 
    "Mike"in "Mike" & "Mike"in "Mike" both of which is true
    True & True is True. Hence, True is returned

In [6]:
# Nov 10 2024
print( False == False in [False])

True

#### explanation
    similar to the above problem. Python first executes 
    False == False which evaluated to be true. then 

    False in [False] which is also true. Hence True is returned

In [15]:
# 09 Nov 2024
from dataclasses import dataclass, field

@dataclass
class Ford:
    # models: list = field(default_factory=["F-150" , "Mustang"]) 
    # models accepts list do we need to return a List using "lambda"
    models: list = field(default_factory=lambda: ["F-150" , "Mustang"])

vehicles = Ford()

SyntaxError: invalid syntax (2039543926.py, line 6)

explanation